<md-card>
  <md-card-title>Survey Form</md-card-title>
  <md-card-content>
    <form *ngIf="!togglePrint" (ngSubmit)="onSubmit()" class="survey-form" [formGroup]="surveyForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input mdInput placeholder="First name" formControlName="firstName">
              <md-error *ngIf="surveyForm.get('firstName').hasError('required')">
                First name is required
              </md-error>
            </md-form-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input mdInput placeholder="Last name" formControlName="lastName">
              <md-error *ngIf="surveyForm.get('lastName').hasError('required')">
                Last name is required
              </md-error>
            </md-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input mdInput placeholder="Email" formControlName="email">
              <md-error *ngIf="surveyForm.get('email').hasError('required')">
                Email address is required
              </md-error>
              <md-error *ngIf="surveyForm.get('email').hasError('pattern')">
                Please enter a valid email address
              </md-error>
            </md-form-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input type="tel" mdInput placeholder="Phone" formControlName="phone">
              <md-error *ngIf="surveyForm.get('phone').hasError('required')">
                Phone Number is required
              </md-error>
              <md-error *ngIf="surveyForm.get('phone').hasError('pattern')">
                Please enter a valid phone number
              </md-error>
            </md-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input #nip type="number" maxlength="10" mdInput formControlName="nip" placeholder="NIP">
              <md-hint align="end">{{nip.value.length}} / 10</md-hint>
              <md-error *ngIf="surveyForm.get('nip').hasError('pattern')">
                Please enter valid NIP number
              </md-error>
            </md-form-field>
          </div>
          <div class="col-md-6 col-sm-12">
            <md-form-field class="full-width">
              <input #pesel type="number" maxlength="11" mdInput formControlName="pesel" placeholder="PESEL">
              <md-hint align="end">{{pesel.value.length}} / 11</md-hint>
              <md-error *ngIf="surveyForm.get('pesel').hasError('pattern')">
                Please enter valid PESEL number
              </md-error>
            </md-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <md-form-field class="full-width">
              <input mdInput placeholder="City" formControlName="city">
              <md-error *ngIf="surveyForm.get('city').hasError('required')">
                City name is required
              </md-error>
            </md-form-field>
          </div>
          <div class="col-md-4 col-sm-12">
            <md-form-field class="full-width">
              <input readonly (click)="picker.open()" [min]="minDate" [max]="maxDate" mdInput [mdDatepicker]="picker" placeholder="Date of Birth" formControlName="birthDate">
              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
              <md-datepicker #picker></md-datepicker>
            </md-form-field>
          </div>
          <div class="col-md-4 col-sm-12">
            <md-form-field class="full-width">
              <input mdInput #postalCode maxlength="6" placeholder="Postal Code" formControlName="postalCode">
              <md-hint align="end">{{postalCode.value.length}} / 6</md-hint>
              <md-error *ngIf="surveyForm.get('postalCode').hasError('pattern')">
                Please enter valid postal code
              </md-error>
            </md-form-field>
          </div>
        </div>
        <div class="row">
          <div class="slider col-sm-12">
            <h5>Rating</h5>
            <md-slider
              (change)="sliderChange($event)"
              [max]="10"
              [min]="0"
              [step]="1"
              [thumb-label]="true"
              [value]="formData.rating">
            </md-slider>
          </div>
        </div>
      </div>
      <button [disabled]="surveyForm.pristine || surveyForm.invalid" md-raised-button color="primary">Save</button>
      <button (click)="togglePrint = !togglePrint" type="button" md-raised-button>Display for printing</button>
    </form>
    <ul *ngIf="togglePrint">
      <li>First Name: {{formData.firstName}}</li>
      <li>Last Name: {{formData.lastName}}</li>
      <li>Email: {{formData.email}}</li>
      <li>Phone: {{formData.phone}}</li>
      <li>NIP: {{formData.nip}}</li>
      <li>PESEL: {{formData.pesel}}</li>
      <li>Date of Birth: {{formData.birthDate | date}}</li>
      <li>City: {{formData.city}}</li>
      <li>Postal Code: {{formData.postalCode}}</li>
      <li>Rating: {{formData.rating}}</li>
    </ul>
    <button *ngIf="togglePrint" (click)="togglePrint = !togglePrint" type="button" md-raised-button>Turn off printing view</button>
  </md-card-content>
</md-card>


